/* .head-comp{
    margin: 5px;
} */

.layout-main h3{
    padding-top: 20px;
}
.head-comp h2{
    display: block;
    font-weight: 700;
}
.head-comp Button{
    margin-right: 15px;
}
/* .info-main{
    margin: 10px;
} */
.info-main div p{
    margin: 0px;
    padding: 0;
    font-size: 12px;
}
.info-main div {
    float:left;
}
.info-main_input{
    padding: 5px;
    display: inline-block;
}
.info-main_left, .info-main_right{
    width:49%;
    float: left;
    display: block;
}
.info-main_elem-full{
    width: 98%;
}
.info-main_elem-half{
    width: 48.5%;
    margin-right: 8px;
}
.info-main_elem-full, .info-main_elem-half{
    margin-left: 0;
}
.info-main_elem-half div{
    width: 100%;
}
.ant-select-selection--single{
    width: 100%;
}
.layout-main{
    margin-left: 15px;
}
.ant-table-tbody td{
    position: relative;
}
.coord-head-left Button{
    float:left;
}
.coord-head-left{
    overflow: auto;
}
.coord-panel{
    width: 100%;
}
.coord-drager{
    display: inline-block;
    height: 76%;
}
.coord-elem{
    width: 48%;
    /* height: 250px; */
    float: left;
    margin-left: 5px;
    height: 300px;
}
.coord-result{
    border: 1px #919191 solid;
    width: 98%;
    height: 76%;
    background-color: #e6e6e6;
    vertical-align: middle;
}
.coord-result>p{
    display: inline;
    text-align: center;
    font-size: 18px;
}
.coord-head-left>p{
    display: block;
    float: left;
}