/* .head-comp{
    margin: 5px;
} */

.layout-main h3{
    padding-top: 20px;
}
.head-comp h2{
    display: block;
    font-weight: 700;
}
.head-comp Button{
    margin-right: 15px;
}
/* .info-main{
    margin: 10px;
} */
.info-main div p{
    margin: 0px;
    padding: 0;
    font-size: 12px;
}
.info-main div {
    float:left;
}
.info-main_input{
    padding: 5px;
    display: inline-block;
}
.info-main_left, .info-main_right{
    width:49%;
    float: left;
    display: block;
}
.info-main_elem-full{
    width: 98%;
}
.info-main_elem-half{
    width: 48.5%;
    margin-right: 8px;
}
.info-main_elem-full, .info-main_elem-half{
    margin-left: 0;
}
.info-main_elem-half div{
    width: 100%;
}
.ant-select-selection--single{
    width: 100%;
}
.layout-main{
    margin-left: 15px;
}
.ant-table-tbody td{
    position: relative;
}